import os

SALT = os.getenv("SALT")
SECRET_KEY = os.getenv("SECRET_KEY")
CLIENT_TOKEN = os.getenv("NB_TOKEN")
# Services
SQL = os.getenv("NB_SQL")
ASQL = os.getenv("NB_ASQL")
FILESERVER = os.getenv("NB_FILESERVER")

DISCORD_EVENTS = os.getenv("DISCORD_EVENTS")
DISCORD_ERRORS = os.getenv("DISCORD_ERRORS")

RQ_REDIS_HOST = os.getenv("NB_RQ_HOST")
RQ_REDIS_PORT = os.getenv("NB_RQ_PORT", "6379")
RQ_REDIS_DB = os.getenv("NB_RQ_DB", "2")

WORKFLOW_SERVICE = os.getenv("NB_WORKFLOW_SERVICE", "http://127.0.0.1:8000")
# MISC
LOGLEVEL = os.getenv("NB_LOG", "test")
# None should be false, anything else true
DEBUG = bool(os.getenv("NB_DEBUG", None))

# Folders
BASE_PATH = os.getenv("NB_BASEPATH", os.getcwd())

NB_WORKFLOWS = os.getenv("NB_WORKFLOWS", "workflows/")
NB_OUTPUT = os.getenv("NB_NB_OUTPUT", "outputs/")
