repos:
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
    - id: black
      language_version: python3.8
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--disable=R,C,W --ignore=rqjobs_bp.py,registers.py,migrations nb_workflows"
        ]


