repos:
- repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)


