POSTGRES_PASSWORD=dymaxionlabtest
POSTGRES_DB=labfunctions
POSTGRES_USER=lab
# Lab functions control plane and agent
LF_BASE_PATH=/app
LF_SQL=postgresql://lab:dymaxionlabtest@postgres:5432/labfunctions
LF_ASQL=postgresql+asyncpg://lab:dymaxionlabtest@postgres:5432/labfunctions
LF_WORKFLOW_SERVICE=http://control:8000
LF_WEB_REDIS=redis://redis:6379/0
LF_QUEUE_REDIS=redis://redis:6379/2
LF_JWT_PUBLIC=/secrets/ecdsa.pub.pem
LF_JWT_PRIVATE=/secrets/ecdsa.priv.pem
LF_LOG=INFO
LF_AGENT_TOKEN=agent-token-generated
LF_AGENT_REFRESH_TOKEN=agent-refresh-token-generated
LF_CLUSTER_FILEPATH=cluster.example.yaml
LF_CLUSTER_SSH_PUBLIC_KEY=/app/ssh/local_control_plane.pub
LF_PROJECTS_STORE_BUCKET=/labstore

